
.login {
    text-align: center;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 4px;
}

.login p {
    color: rgb(67, 231, 243);
    
    margin-bottom: 5px;
    background: #ffffff;
    padding: 10px;
  }


  .button {
    width: 180px;
    border: none;
    color: white;
    background-color: #2db1bb;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .form-control {
    width: 180px;
    height: 25px;
    box-shadow: none;
    color: #094e74;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #254353;
  }

  .login{
    background-color: white;
  }

  body{
    background-color: aqua;
  }